<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理员登录</title>
    <script src="/node_modules/vue/dist/vue.js"></script>
    <script src="/node_modules/axios/dist/axios.js"></script>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/js/admin/login.js"></script>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/admin/login.css">
</head>
<body>
    <div id="header">
        <p>管理员登录</p>
    </div>
    <div id="app" class="container">
        <div class="form-group">
            <label for="username">用户名</label>
            <input type="text" v-model="username" class="form-control" id="username" placeholder="用户名">
        </div>
        <div class="form-group">
            <label for="password">密码</label>
            <input type="password" v-model="password" class="form-control" id="password" placeholder="密码">
        </div>
        <div id="loginDiv" class="form-group">
            <button type="button" class="btn btn-primary" @click="login">登录</button>
        </div>
    </div>
</body>
</html>